html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@font-face {
  font-family: 'Saelic Hairline';
  src: url('../fonts/Sailec_Desktop_Font/Type Dynamic - Sailec Hairline.otf');
}
@font-face {
  font-family: 'Saelic Light';
  src: url('../fonts/Sailec_Desktop_Font/Type Dynamic - Sailec Light.otf');
}
@font-face {
  font-family: 'Saelic Medium';
  src: url('../fonts/Sailec_Desktop_Font/Type Dynamic - Sailec Medium.otf');
}
@font-face {
  font-family: 'Surveyor Text Medium';
  src: url('../fonts/Surveyor_Desktop_Font/surveyortext-medium-webfont.ttf');
}
@font-face {
  font-family: 'Surveyor Text Light';
  src: url('../fonts/Surveyor_Desktop_Font/surveyortext-light-webfont.ttf');
}
@font-face {
  font-family: 'Surveyor Textbook Pro';
  src: url('../fonts/Surveyor_Desktop_Font/SurveyorText-Book-Pro.otf');
}

.wrapper {
  background: #EEEEEE;
  max-width: 1150px;
	margin: 0 auto;
	padding: 4%;
	overflow:auto;
	clear:both;
}

#header-container {
	left: 0;
	right: 0;
	position: absolute;
	z-index: 1;
	background: white;
	padding: 2%;
	margin-right: auto;
	margin-left: auto;
	max-width: 40%;
	text-align: center;
}

#details-container {
	width: 75%;
	margin-right: auto;
	margin-left: auto;
	padding-top: 5%
}

img {
    width: 100%;
    height: auto;
    width: auto\9;
}

#blurb-styles-room-details-container {
	padding-top: 5%;
}

#blurb-styles-container {
	width: 55%;
	float: left;
	margin: 0;
}

#blurb-container {
	padding-bottom: 5%;
}

#room-details-container {
	background: white;
	width: 30%;
	float: right;
	padding: 3%;
}

#clear {
clear: both;
}

#header-heading, #styles-heading {
	color: #FDD8D0;
	font-family: 'Saelic Light';
	font-size: 0.7em;
	margin-bottom: 1%;
	padding-top: 1%;
}

#header-content {
	color: #1C2233;
	font-family: 'Surveyor Text Medium';
	font-size: 1em;
}

#blurb-content {
	font-family: 'Surveyor Text Light';
	font-size: 1.1em;
	width: 70%;
	color: #738494;
	line-height: 150%;
}

#blurb-content::first-letter {
	font-size: 250%;
	color: #1C2233;
}

#styles-content {
	width: 60%;
	line-height: 150%;
	columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
	font-family: 'Surveyor Text Light';
	font-size: 0.8em;
	color: #738494;
}

.room-details {
	columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
	padding-bottom: 10%;
}

.room-details-headers {
	font-family: 'Saelic Medium';
	font-size: 0.5em;
	font-weight: bolder;
	color: #1C2233;
	letter-spacing: 0.07em;
}

.room-details-content {
	font-family: 'Surveyor Text Light';
	font-size: 0.8em;
	color: #738494;
}

@media only screen and (max-width: 664px) {

	body {
		background: #EEEEEE;
	}

	#header-container {
		left: 0;
		right: 0;
		position: absolute;
		z-index: 1;
		background: white;
		padding: 2%;
		margin-right: auto;
		margin-left: auto;
		max-width: 45%;
		text-align: center;
	}

	#header-content {
		color: #1C2233;
		font-family: 'Surveyor Text Medium';
		font-size: 0.7em;
	}

	#blurb-styles-container {
		width: 98%;
		margin: 0;
		padding: 1%;
	}

	#blurb-container {
		padding-bottom: 5%;
	}

	#room-details-container {
		background: white;
		width: 50%;
		padding: 3%;
	}

	#blurb-content {
		font-family: 'Surveyor Text Light';
		font-size: 0.9em;
		width: 100%;
		color: #738494;
		line-height: 150%;
	}

	#styles-container {
		margin-top: 3%;
	}

	#styles-content {
		width: 63%;
		padding-left: 37%;
		line-height: 150%;
		columns: 1;
	  -webkit-columns: 1;
	  -moz-columns: 1;
		font-family: 'Surveyor Text Light';
		font-size: 0.8em;
		color: #738494;
		text-align: left;
	}

	#styles-heading {
		color: #FDD8D0;
		font-family: 'Saelic Light';
		font-size: 0.7em;
		margin-bottom: 1%;
		padding-top: 1%;
		text-align: center;
	}

	#room-details-container {
		background: white;
		width: 70%;
		padding: 15%;
		margin-top: 7%;
	}

	.room-details {
		columns: 2;
	  -webkit-columns: 2;
	  -moz-columns: 2;
		padding-bottom: 10%;
	}

	.room-details-headers {
		font-family: 'Saelic Medium';
		font-size: 0.5em;
		font-weight: bolder;
		color: #1C2233;
		letter-spacing: 0.07em;
	}

	.room-details-content {
		font-family: 'Surveyor Text Light';
		font-size: 0.8em;
		color: #738494;
	}
}
